matplotlib
networkx
opencv-python
pyqt5
scipy
# contourpy # Installed as dependency for matplotlib
# cycler # Installed as dependency for matplotlib
# fonttools # Installed as dependency for matplotlib
# kiwisolver # Installed as dependency for matplotlib
# numpy # Installed as dependency for contourpy, matplotlib, opencv-python, scipy
# packaging # Installed as dependency for matplotlib
# pillow # Installed as dependency for matplotlib
# pyparsing # Installed as dependency for matplotlib
# pyqt5-qt5 # Installed as dependency for pyqt5
# pyqt5-sip # Installed as dependency for pyqt5
# python-dateutil # Installed as dependency for matplotlib
# six # Installed as dependency for python-dateutil
